{% extends "base.html" %}
{% block content %}

<script type='module'
  src='https://us-east-1.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
<h1> Graph 1</h1>

<tableau-viz id='tableau-viz' token="{{jwt}}"
  src='https://us-east-1.online.tableau.com/t/yadavag68b413c36d/views/Dash_COL/Dashboard1' hide-tabs
  toolbar='bottom'></tableau-viz>

<h1> Graph 2</h1>

<tableau-viz id='tableau-viz' token="{{jwt}}"
  src='https://us-east-1.online.tableau.com/t/yadavag68b413c36d/views/Dash_COL/Dashboard2' hide-tabs
  toolbar='bottom'></tableau-viz>


{% endblock %}