{% extends "base.html" %}
{% block content %}

<script type='module'
  src='https://us-east-1.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>


<tableau-viz id='tableau-viz' token="{{jwt}}"
  src='https://us-east-1.online.tableau.com/t/yadavag68b413c36d/views/Dash_COL/Dashboard1' hide-tabs
  toolbar='bottom'></tableau-viz>

<tableau-viz id='tableau-viz' token="{{jwt}}"
  src='https://us-east-1.online.tableau.com/t/yadavag68b413c36d/views/Dash_COL/Dashboard2' hide-tabs
  toolbar='bottom'></tableau-viz>

<tableau-viz id='tableau-viz' src='https://us-east-1.online.tableau.com/t/yadavag68b413c36d/views/Dash_COL/Dashboard3'
  hide-tabs toolbar='bottom'></tableau-viz>

<tableau-viz id='tableau-viz' src='https://us-east-1.online.tableau.com/t/yadavag68b413c36d/views/Dash_COL/Dashboard4'
  hide-tabs toolbar='bottom'></tableau-viz>

<tableau-viz id='tableau-viz' src='https://us-east-1.online.tableau.com/t/yadavag68b413c36d/views/Dash_COL/Dashboard5'
  hide-tabs toolbar='bottom'></tableau-viz>
{% endblock %}